[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
beautifulsoup4 = "*"
gspread = "*"
oauth2client = "*"
selenium = "*"
tqdm = "*"
currencyconverter = "*"
click = "*"
html5lib = "*"
np = "*"
numpy = "*"
openpyxl = "*"
python-slugify = "*"

[requires]
python_version = "3.8"
